.progressBar {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column wrap;
    padding-top: 60px;
  }
  &__wrapper {
    padding: 60px 20px 60px 20px;
    background: $colorWhite;
    display: flex;
    width: 600px;
    height: 420px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #eee;
    box-shadow: 10px 10px 10px -5px #0005;
    gap: 20px;
  }

  &__timeStamp {
    display: flex;
    flex-flow: row nowrap;
    font-size: 2rem;
    width: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    &--start {
      justify-content: start;
    }

    &--end {
      justify-content: end;
    }
  }

  &__bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    width: 480px;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__segment {
    display: flex;
    font-size: 0;
    height: 30px;
    overflow: hidden;

    // transition: width 0.3s ease;
    &--focus {
      background: darken(#4caf50, 10%);
    }
    &--distract {
      background: darken(#f44336, 10%);
    }
  }

  &__btn {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    color: $colorWhite;
    gap: 0px 10px;

    &--clearAnalyticsData {
      background: $colorOrange;
    }

    &--showAnalyticsModal {
      background: $colorDeepBlue;
    }
  }
}

.scheduledProgressBar {
  &__bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    width: 480px;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__segment {
    display: flex;
    font-size: 0;
    height: 30px;
    overflow: hidden;

    // transition: width 0.3s ease;
    &--focus {
      background: darken(#4caf50, 10%);
    }
    &--distract {
      background: darken(#f44336, 10%);
    }
  }
}
