.countdown {
  &__wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 1vh, 2rem); // 最小1rem，最大4rem，隨寬度變化
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: $colorAsparagus;
    &--hide {
      display: none;
    }
  }

  &__buttonWrapper {
    display: flex;
    flex: 3 1 0%;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}
