// device
$tabletWidth: 1200px;
$padWidth: 900px;
$phoneWidth: 430px;

// font

$fontFamily: 'Microsoft Yahei', 'Microsoft JhengHei', 'Roboto', 'DejaVu Sans', sans-serif;

// Guideline Color

$colorBlack: #000;
$colorWhite: #fff;
$colorRed: #81171b;
$colorDeepRed: #45050c;
$colorGold: #f8cb15f4;
$colorGreen: #1b998b;
$colorPink: #f8c7cc;
$colorOrange: #e9724c;
$colorDeepBlue: #253d5b;
$colorCitron: #c3bf6d;
$colorGray: #f0f0f0;
$colorTeaGreen: #c9f2c7;
$colorLightGreen: #aceca1;
$colorOlivine: #96be8c;
$colorAsparagus: #629460;
$colorDarkGreen: #243119;
$colorAshGray: #b7cece;
$colorFrenchGray: #bbbac6;
$colorOldRose: #cc8b86;
